# Combined dependencies for agenda module (Python + Node info)
#
# Python (pip):
-r requirements.txt
#
# Node (npm):
# The following packages are used by the frontend assets:
#   flatpickr@^4.6.13
#   fullcalendar@^6.1.18
#   @fullcalendar/daygrid@^6.1.18
#   @fullcalendar/interaction@^6.1.18
#   @fullcalendar/list@^6.1.18
#   @fullcalendar/multimonth@^6.1.18
#   @fullcalendar/resource-timeline@^6.1.18
#   @fullcalendar/timegrid@^6.1.18
#   @fullcalendar/timeline@^6.1.18
# Dev helpers:
#   js-beautify@^1.15.4
#   terser@^5.43.1
